# Ignore replaceable test data
/arweave-cache/blocks
/arweave-cache/txs
/arweave-cache/block-index.json
/arweave-cache/wallet-lists/*
# Keep these wallet lists!
!/arweave-cache/wallet-lists/509849.wallets.json
!/arweave-cache/wallet-lists/520918.wallets.json


# compiled output
# /dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other
# /test/scratchpad-tests.ts
